<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Connect" connectionString="Url=https://{orgName}.crm2.crmlivetie.com; Username=user1@devtesttie.ccsctp.net; Password={password}s; authtype=Office365; RequireNewInstance=True; ClientId=51f81489-12ee-4a9e-aaae-a2591f45987d; RedirectUrl=app://58145B91-0C36-4500-8554-080854F2AC97; Version=v9.0;"/>
  </connectionStrings>
</configuration>